body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center; 
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar-brand {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-brand h1 {
    margin: 0;
}

.navbar {
    margin-left: 20em;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
}

nav.sidebar {
    background-color: #f8f9fa;
    width: 350px;
    padding: 20px;
}

nav.sidebar a {
    color: black;
}

section {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#mapInfo {
    display: inline-flex;
}

#section-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

/* Table Styles */
#countyTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#countyTable th,
#countyTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#countyTable th {
    background-color: #f2f2f2;
}

/* Pagination Styles */
.pagination {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-top: 20px; /* Adjust spacing as needed */
}

.pagination li {
    margin: 0 5px;
    display: inline-block;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #ddd;
}

#countyTableDiv {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
}

.nav-item.active {
    border-bottom: 2px solid;
}

.nav-item:hover {
    border: 2px solid;
}

.sidebar {
    float:right;
}

.page-item.active a {
    background-color: lightblue;
}